@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Gochi+Hand&display=swap');

h1 {
   font-family: "Gochi Hand";
}

.book.font-family-0 {
  font-family: "Garamond", serif;
}

.book.font-family-1 {
  font-family: "Cabin";
}

.book .book-body .page-wrapper .page-inner section.normal h1{font-size:1.8em}
.book .book-body .page-wrapper .page-inner section.normal h2{font-size:1.5em}
.book .book-body .page-wrapper .page-inner section.normal h3{font-size:1.4em}
.book .book-body .page-wrapper .page-inner section.normal h4{font-size:1.3em}
.book .book-body .page-wrapper .page-inner section.normal h5{font-size:1.1em}

h1, h2, h3 {
  color: #ae802e;
}

a { 
color: #003f5c;
}

dt {
  color: #003f5c;
}

.book .book-summary {
  background-color: #003f5c;
}

.book .book-summary ul.summary li a:hover {
  background-color: #ffffff;
  color: #ffbc49;
}

.book .book-summary {
  background-color: #003f5c;
  font-family: "Cabin";
}

.book .book-summary ul.summary li a {
  color: #aaa;
}

.book .book-summary ul.summary li.active>a {
  color: #ffffff;
}

.book .book-summary ul.summary li a:hover {
  background-color: #ffffff;
  color: #003f5c;
}

.book .book-summary .booksearch li a {
  color: #ffffff;
}

.markdown-body .callout.callout_info {
  --text: #6a737d;  // theme text color default
  --title: inherit; // theme title color (falls back to text color by default)
  --background: #f8f8f9;
  --border: #8b939c;
}