@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1 {
   font-family: "Gochi Hand"
}

.book.font-family-0 {
  font-family: 'Roboto';
}

.book.font-family-1 {
  font-family: 'Roboto';
}
